@import "@material/top-app-bar/mixins";
@import "@material/select/mixins";
@import "@material/button/mixins";

$mdc-theme-primary: #005452;
$mdc-theme-on-primary: #878B93;
$mdc-theme-secondary: rgba(0, 84, 82, 0.6);
$mdc-theme-on-secondary: #BAB8B5;
$mdc-theme-surface: #F4F4F4;
$mdc-theme-on-surface: rgba(165, 165, 165, 1);
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: rgba(0, 0, 0, 0.2);

.home-top-app-bar-alternate {
    @include mdc-top-app-bar-fill-color-accessible(white);
    @include mdc-top-app-bar-icon-ink-color(black);
}

.filter-button-alternate {
    @include mdc-button-ink-color(black);
    @include mdc-button-outline-color($mdc-theme-surface);
    @include mdc-button-container-fill-color($mdc-theme-surface);
    
    font-family: "Pretendard Variable";
    font-weight: "400";
    white-space: nowrap;

    width: 16.6vw;
    height: 3.75vh;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 4px #DADADA;
}

.filter-expand-button-alternate {
    @include mdc-button-ink-color($mdc-theme-on-primary);
}

.select-alternate {
    @include mdc-select-ink-color(black);
    @include mdc-select-container-fill-color($mdc-theme-surface);
    @include mdc-select-focused-label-color($mdc-theme-on-surface);

    @include mdc-select-focused-bottom-line-color($mdc-theme-on-primary);
    @include mdc-select-focused-outline-color(black);
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}